:root {
    --c-primary: #e75e60;
    --c-secondary: #39568f;
    --c-accent: #13213e;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.main-container{
    width: 90%;
    height: auto;
    max-width: 1600px;
    display: block;
    margin: auto;
}

.custom-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    z-index: 10;
    position: relative;
}

section{
    padding: 2rem 0;
}

.custom-col{
    width: calc(100% / 2);
    position: relative;
    z-index: 10;
}

.h-100{
    height: 100%;
}

.flex-center-y{
    display: flex;
    align-items: center;
}

#section__mtag{
    font-size: 1.8rem;
    font-weight: bold;
}

#section__stag{
    font-size: 1.1rem;
    font-weight: regular;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    max-width: 1600px;
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.main-header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.main-header__design1{
    width: 100%;
    height: 20px;
    background-image: linear-gradient(0deg, #67a900, #0c8300);
}

.header-container .logo {
    width: 150px;
    height: auto;
    position: relative;
}

.header-container .logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav ul{
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav ul a{
    list-style: none;
    color: #242424;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}

.mobile-header{
    display: none;
    flex-direction: row;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    width: 100%;
    height: auto;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: white;
}

.mobile__btn{
    padding: 1.5rem 0;
}

.mobile-header i{
    font-size: 1.5rem;
}

/* banner */
.banner{
    width: 100%;
    height: auto;
    background-image: url("./media/banner\ image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: 160px;
    display: block;
}

.banner:before{
    width: 65%;
    height: 100%;
    background-image: linear-gradient(-90deg, #c7006b, #7c0e6f);
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
    z-index: 5;
}

.banner:after{
    width: 85%;
    height: 100%;
    background-color: #242424;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
    z-index: 3;
    opacity: 0.7;
}

.banner__img{
    max-width: 250px;
    width: 100%;
    height: auto;
    margin: 3rem auto 0;
}

.banner__img img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.banner__tagline{
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

#banner__main{
    font-size: 3rem;
    line-height: 2.9rem;
}

#banner__sub1{
    font-size: 2.2rem;
    font-weight: 600;
}

#banner__sub2{
    font-size: 1.2rem;
    font-weight: regular;
}

.banner__search{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.banner__search span{
    font-size: 1.2rem;
    font-weight: bold;
}

.banner__search-btn{
    height: 50px;
    width: 100%;
    position: relative;
}

.banner__search-btn input{
    width: 100%;
    height: 100%;
    background-color: white;
    border: 0;
    border-radius: 5px;
    padding:0 1rem;
}

.banner__search-btn i{
    width: 60px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fad330;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #242424;
    font-size: 1.5rem;
    border-radius: 0 5px 5px 0;
    transition: 300ms;
}

.banner__search-btn i:hover{
    cursor: pointer;
    color: white;
}

.banner .custom-col:nth-child(1)::before{
    clip-path: polygon(50% 0%, 0 100%, 100% 100%);
    position: absolute;
    content: "";
    background: #242424;
    height: 100%;
    width: 70%;
    opacity: 0.1;
}


/* course section */

.course-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
    height: auto;
    margin-top: 1rem;
}

.course__item{
    width: 100%;
    max-width: 450px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: solid 1px #d7d7d7;
}

.course__item-img{
    width: 100%;
    height: 100%;
    max-height: 250px;
    position: relative;
}

.course__item-img-hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #242424;
    opacity: 0;
    z-index: 5;
    content: "";
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms;
}

.course__item-img-hover img{
    width: 120px;
    max-width: 120px;
    height: auto;
    object-fit: cover;
}

.course__item-img-main{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.course__item-title{
    font-size: 1.1rem;
    font-weight: bold;
}

.course__item-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.4rem;
    font-size: 1rem;
    font-weight: 500;
    border-bottom: solid 1px #d7d7d7;
    border-top: solid 1px #d7d7d7;
    padding: 1rem 0;
}

.course-overview #section__mtag{
    width: 100%;
    height: auto;
    clip-path: polygon(0 0, 95% 0, 100% 100%, 0% 100%);
    background-color: #242424;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.course__item-details div{
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    align-items: center;
}

.course__item-details i{
    font-size: 1.4rem;
    color: #0c8300;
    margin-right: 0.5rem;
}


.course__item a{
    display: block;
    margin: auto;
    padding: 0.5rem 0;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #0c8300;
    border: solid 1px #0c8300;
    width: 100%;
    max-width: 250px;
    transition: 300ms;
}

.course__item a:hover{
    background-color: transparent;
    color: #242424;
}

.course__item:hover .course__item-img-hover{
    opacity: 0.9 !important;
}

.section-btn{
    width: 100%;
    max-width: 250px;
    height: auto;
    padding: 1rem 0;
    font-size: 1.1rem;
    font-weight: bold;
    border: solid 1px #242424;
    display: block;
    margin: 2rem auto;
    text-align: center;
    text-decoration: none;
    color: #242424;
    transition: 300ms;
}

.section-btn:hover{
    background-color: #0c8300;
    color: white;
    border-color: #0c8300;
}

/* apply section */

.apply-section{
    background-image: linear-gradient(0deg, #67a900, #0c8300);
    padding: 0;
    position: relative;
}

.apply-section .custom-col:nth-child(1){
    color: white;
    padding: 3rem 0;
}

.apply-section::before{
    background-image: url('./media/bg design.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 100%;
    opacity: 0.1;
}

.apply-section a{
    color: #242424;
    text-decoration: none;
    border: solid 1px white;
    padding: 1rem 2rem;
    background-color: white;
    font-weight: bold;
    display: block;
    margin: 1rem auto;
    transition: 300ms;
}

.apply-section a:hover{
    background-color: transparent;
    border: solid 1px white;
    color: white;
}


/* footer */

footer{
background-color: #ececec;
}

.footer-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding:1rem;
}

.footer-nav .nav{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-nav .nav{
    color: #787878;
}

.footer-nav__smi{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 2rem;
}


/* product-course */

.product-banner{
    background-image: url('./media/psychology.jpg');
    min-height: 40vh;
    display: flex;
    align-items: center;
    background-position: bottom;
}

.product-banner .custom-col:nth-child(1)::before{
    display: none;
}

.course-overview{
    margin-bottom: 2rem;
}

.course-overview #section__stag{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.1rem;
}

.col-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    background-color: #242424;
    color: white;
    padding: 1rem;
}

.accordion-btns{
    display: flex;
    flex-direction: row;
}

.course-par{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.course-par ul{
    margin-left: 2rem;    
}

.accordion-box{
    border: solid 1px #242424;
    border-radius:0 5px 5px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.accordion-btns div{
    padding: 1rem;
    font-size: 1rem;
    border: solid 1px #242424;
    border-radius: 5px 5px 0 0;
}

.accordion-content{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.accordion-details{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width:100%;
    max-width: 70%;
}

.accordion-details__item{
    min-height: 50px;
    border-bottom: solid 1px #d7d7d7;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.accordion-details__item i{
    font-size: 1.9rem;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    color: #7c0e6f;
}

.accordion-cta{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width:100%;
    max-width: 30%;
}

.accordion-cta a{
    min-height: 50px;
    background-image: linear-gradient(-90deg, #67a900, #0c8300);
    color: white;
    text-decoration: none;
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5rem;
    align-items: center;
    padding: 0 1rem;
    transition: 300ms;
}

.accordion-cta a:hover{
    background-image: linear-gradient(-90deg, #c7006b, #7c0e6f);
}

.accordion-cta i{
    font-size: 1.4rem;
    min-width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active-btn{
    background-image: linear-gradient(-90deg, #c7006b, #7c0e6f);
    color: white;
}

/* apply page */

.apply-container{
    padding: 0;
}

.apply-container .custom-row{
    min-height: 100vh;
    height: auto;
}

.apply-col1{
    width: 100%;
    height: auto;
    max-width: 35%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.apply-col2{
    width: 100%;
    height: auto;
    max-width: 65%;
    position: relative;
    background-image: linear-gradient(-90deg, #c7006b, #7c0e6f);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    overflow: hidden;
}

.apply-col2::before{
    clip-path: polygon(50% 0%, 0 100%, 100% 100%);
    position: absolute;
    content: "";
    background: #242424;
    height: 70%;
    width: 100%;
    max-width: 670px;
    opacity: 0.1;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.apply-col2::after{
    clip-path: polygon(50% 0%, 0 100%, 100% 100%);
    background-image: url('./media/apply-design.png');
    background-position: center;
    position: absolute;
    content: "";
    height: 50%;
    width: 100%;
    max-width: 450px;
    opacity: 1;
    bottom: 0;
    left: 70%;
    transform: translateX(-50%);
    z-index: 3;
}

.apply-title{
    max-width: 800px;
    height: auto;
    display: block;
    margin: auto;
    color: white;
    position: relative;
    z-index: 10;
}

.apply-title #banner__main{
    font-weight: bold;
    margin-bottom: 1rem;
    line-height: 3rem;
    display: flex;
    flex-direction: column;
}

.apply-box{
    max-width: 500px;
    width: 100%;
    display: block;
    margin: auto;
    border: solid 2px #242424;
    border-radius: 5px;
    padding: 1rem;
}

.apply-box__title{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 1rem 0;
}

.apply-ipb{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-bottom: 1rem;
}

.apply-ipb input{
    height: 50px;
    border-radius: 5px;
    border:solid 2px #242424;
    padding: 0.5rem;
}

.apply-box__load{
    width: 100%;
    height: auto;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(-90deg, #c7006b, #7c0e6f);
    border: solid 1px transparent;
    display: block;
    transition: 300ms;
}

.apply-box__load:hover{
    background-image: linear-gradient(-90deg, #67a900, #0c8300);
}

.apply-box__new{
    width: 100%;
    height: auto;
    padding: 1rem 1rem 0;
    text-align: center;
    text-decoration: none;
    color: #242424;
    display: block;
    font-weight: bold;
    transition: 300ms;
}

.apply-box__new:hover{
    color: #7c0e6f;
}

.apply-box__new i{
    color: #0c8300;
    margin-right: 1rem;
}

/* Nav pages */

.nav-form{
    min-height: 100vh;
    height: auto;
    margin-top: 140px;
}

.nav-sections{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 1200px;
    width: 100%;
    margin: 2rem auto 0;
}

.nav-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
}

.nav-icons::before {
    content: "";
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 15px;
    background: #242424;
    border: 0;
}

.nav-icons i{
font-size: 1.5rem;
    width: 80px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #242424;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.nav-active i{
    font-size: 1.5rem;
    width: 80px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    background-image: linear-gradient(178deg, #67a900, #0c8300);
    color: white;
    border: 0;
}

.nav-active::before {
    content: "";
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 15px;
    background-color: #0c8300;
    border: 0;
}

.nav-icons p{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.nav-icons span{
    font-size: 1.1rem;
    font-weight: bold;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #242424;
    color: white;
}

.nav-mform-cont{
    max-width: 1200px;
    width: 100%;
    display: block;
    margin: auto;
}

.nav-mform{
    border: solid 2px #242424;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
    border-radius: 0 0 5px 5px;
}

.nf-title{
    width: 100%;
    max-width: 750px;
    height: auto;
    background-image: linear-gradient(-90deg, #c7006b, #7c0e6f);
    clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-top: 3rem;
}

.nav-mform__ipb{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    font-size: 1.1rem;
}

.nav-mform__sectitle{
    grid-column: span 2;
    width: 100%;
    background-image: linear-gradient(-90deg, #c7006b, #7c0e6f);
    color: white;
    padding: 1rem;
    font-weight: 600;
}

.nav-mform__ipb input[type=text], .nav-mform__ipb input[type=date], .nav-mform__ipb select, .nav-mform__ipb textarea{
    height: 40px;
    width: 100%;
    border: solid 1px #242424;
    border-radius: 5px;
    padding:  0 0.5rem;
    font-size: 1rem;
    outline: none;
}

.nav-mform__ipb textarea{
    min-height: 200px;
    padding: 0.5rem 1rem;
}

.nav-mform__rads{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.radio-btn{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    accent-color: #7c0e6f;
    cursor: pointer;
}

.nav-mform__btns{
    width: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.2rem;
    margin: 2rem auto;
}

.nav-mform__btns a{
    text-decoration: none;
    color: white;
    background-color: #242424;
    padding: 0.8rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 5px;
    transition: 300ms;
}

.nav-mform__btns a:hover{
    background-color: #0c8300;
}

.nav-mform__btns i{
    font-size: 1.5rem;
    color: white;
}

.nf-support{
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sectitle-alt{
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    font-weight: 500;
}

.nf-disclaimer{
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-wrap: break-word;
    word-break: break-word;
}

.nf-disclaimer a{
    color: #7c0e6f;
    transition: 300ms;
}

.ipb-span2{
    grid-column: span 2;
}

@media only screen and (max-width: 991px) {
    .main-header{
        display: none;
    }
    .mobile-header{
        display: flex;
    }
    .banner{
        margin-top: 70px;
    }
    .custom-row{
        flex-direction: column;
        align-items: center;
    }

    .custom-col{
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .banner .custom-row{
        flex-direction: column-reverse;
    }

    .banner__img{
        max-width: 200px;
    }

    .course-grid{
        grid-template-columns: repeat(3, 1fr);
    }
        .apply-section::before{
        display: none;
    }
    .apply-section .custom-col:nth-child(1){
        padding: 1.5rem 0;
    }

    .apply-container{
        margin-top: 70px;
    }

    .apply-col1, .apply-col2{
        max-width: unset;
    }

    .apply-col2{
        padding: 5rem 1rem;
    }

    .apply-container .custom-row{
        flex-direction: column-reverse;
    }
    .nav-sections{
        grid-template-columns: repeat(3, 1fr);
        row-gap: 2rem;
    }
    .nav-form{
        margin-top: 70px;
    }
}

@media only screen and (max-width: 768px) {
    .nf-support{
        grid-column: span 1;
    }
    .course-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-nav{
        flex-direction: column;
    }
    .footer-nav ul{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .accordion-box{
        flex-direction: column;
    }
    .accordion-details, .accordion-cta{
        max-width: unset;
    }
    .apply-title #banner__main{
        line-height: 2rem;
    }
    .nav-mform {
    grid-template-columns: 1fr;
    }
    .nav-mform__sectitle{
        grid-column: span 1;
    }
    .nf-privacy{
        grid-column: span 2;
    }
}

@media only screen and (max-width: 568px) {
    .course-grid{
        grid-template-columns: 1fr;
    }
    #banner__main{
        font-size: 2rem;
        line-height: 2.5rem;
    }
    #banner__sub1{
        font-size: 1.5rem;
    }
    .nav-sections{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
    }
    .nf-title{
        font-size: 1.5rem;
    }
}